@charset "UTF-8";
/*******************************************************************
Module
*******************************************************************/
.fig-border {
	border: 1px solid #ccc;
}

.group:after {
	clear: both;
	content: '';
	display: block;
}

/*******************************************************************
Pages
*******************************************************************/

/*------------------------------------------------------------------
Home
------------------------------------------------------------------*/
.home .mb60 {
	margin-bottom: 60px;
}

.home .fixedimage img {
	height: auto;
	width: 100%;
}

/* Campaign
--------------------------------------------------------- */
.home .block-home-campaign {
	background: url(../images/home/bg_campaign_01.png) repeat-x 0 0;
}

.home .block-home-campaign .banner {
	margin: 0 auto;
	max-width: 1280px;
	text-align: center;
}

/* Company Slider
--------------------------------------------------------- */
.home .block-home-companies {
	margin: 0 auto;
	padding: 30px 0;
}

.home .block-home-companies h2 {
	margin: 0 10px 20px;
	text-align: center;
}

.home .block-home-companies h2 img {
	height: auto;
	max-width: 100%;
}

.home .slideFrame {
	/*background: #333;*/
	border: 0 solid #333;
	height: 80px;
	margin: 0 0;
	max-width: 1100px;
	overflow: hidden;
	position: relative;
	width: 100%;

	overflow-x: auto;
}

.home .slideGuide {
	height: 100%;
	padding: 0;
	width: 150%;
}

.home .slideCell {
	background: #fff;
	color: #333;
	display: block;
	float: left;
	height: 100%;
	margin-right: 0;
	width: 255px;
}

/* Points
--------------------------------------------------------- */
.home .block-home-points .row .fw-light {
	min-height: 3em;
}

.home .block-home-points .row .fw-light + p {
	min-height: 10em;
}

/* Plan
--------------------------------------------------------- */
.home .top-ticket-plan-section .btn {
	white-space: inherit;
}

/* Cover Image
--------------------------------------------------------- */
.cover-images.type4 .btn {
	white-space: inherit;
}

/*------------------------------------------------------------------
Price
------------------------------------------------------------------*/
.price .block-list-plan .plan-panel {
	padding-bottom: 0;
}

.price .unit-list-plan {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.price .unit-list-plan li {
	border-bottom: 1px solid #ddd;
	color: #333;
	font-size: 18px;
	margin: 0 10px;
	min-height: 70px;
	padding: 0;
	text-align: center;
	vertical-align: middle;
}

.price .unit-list-plan li:last-child {
	border-bottom: none;
}

.price .unit-list-plan li .wrap-cell {
	display: table-cell;
	height: 70px;
	vertical-align: middle;
	width: 250px;
}

.price .unit-list-plan li .wrap-cell span {
	font-size: 14px;
}

.price .unit-list-plan .fa-times {
	color: #f1516a;
}

.price .unit-list-plan .fa-check {
	color: #48cfad;
}

.price .block-spec .plan-panel {
	padding: 20px;
}

.price .tbl-spec {
	margin-bottom: 0;
}

.price .tbl-spec .cel10 {
	width: 10%;
}

.price .tbl-spec .cel20 {
	width: 20%;
}

.price .tbl-spec .cel30 {
	width: 30%;
}

.price .tbl-spec .cel40 {
	width: 40%;
}

.price .tbl-spec th,
.price .tbl-spec td {
	font-size: 18px;
	font-weight: 300;
	padding: 20px;
}

.price .tbl-spec .monthly {
	color: #46bce0;
	font-size: 30px;
}

.price .tbl-spec .flat {
	color: #f1516a;
	font-size: 30px;
}

.price .tbl-spec .fa-times {
	color: #f1516a;
}

.price .tbl-spec .fa-check {
	color: #48cfad;
}

/*------------------------------------------------------------------
Campaign
------------------------------------------------------------------*/

.page-campaign201507 .ttl-campaign-main {
	border: none;
	margin: -20px auto 40px;
	padding: 0;
	text-align: center;
}

.page-campaign201507 .ttl-campaign-faq {
	border: none !important;
	margin: 2em 0 1em;
	padding: 0 !important;
}

.page-campaign201507 .ttl-campaign-faq:first-child {
	margin-top: 0;
}

.page-campaign201507 .ttl-campaign-faq .fa-question-circle {
	color: #46bce0;
	margin-right: 0.4em;
}

.page-campaign201507 .unit-campaign-notes {
	background-color: #f2f1ec;
	color: #666;
	padding: 2em 2em 1em;
}

.page-campaign201507 .unit-campaign-notes dl {
	margin: 0;
}

.page-campaign201507 .unit-campaign-notes dl dt {
	background: url(../images/campaign/campaign201507/ico_campaign_01.png) no-repeat 0 50%;
	font-size: 1em;
	margin-left: 0.4em;
	padding-left: 1.5em;
}

.page-campaign201507 .unit-campaign-notes dl dd {
	margin-left: 2em;
}

.page-campaign201507 .unit-campaign-plan .h3title {
	font-weight: bold;
	margin: 2em 0 0.5em;
}

.page-campaign201507 .unit-campaign-plan .btn {
	font-size: 24px;
	padding: 0;
}

.page-campaign201507 .unit-campaign-plan .btn a {
	border-radius: 6px;
	color: #fff;
	display: block;
	height: 75px;
	line-height: 75px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 520px;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.page-campaign201507 .unit-campaign-plan .btn-01 a {
	background-color: #f1516a;
}

.page-campaign201507 .unit-campaign-plan .btn-01 a:hover,
.page-campaign201507 .unit-campaign-plan .btn-01 a:active {
	background-color: #d94960;
}

.page-campaign201507 .unit-campaign-plan .btn-02 a {
	background-color: #46bce0;
}

.page-campaign201507 .unit-campaign-plan .btn-02 a:hover,
.page-campaign201507 .unit-campaign-plan .btn-02 a:active {
	background-color: #3faaca;
}

.page-campaign201507 .unit-campaign-plan .btn-03 a {
	background-color: #48cfad;
}

.page-campaign201507 .unit-campaign-plan .btn-03 a:hover,
.page-campaign201507 .unit-campaign-plan .btn-03 a:active {
	background-color: #41bb9c;
}

/* Campaign 201508 */
.page-campaign201508 {
	padding: 0 20px;
}

.page-campaign201508 .ttl-campaign-main {
	border: none;
	margin: -20px auto 40px;
	padding: 0;
	text-align: center;
}

.page-campaign201508 .ttl-campaign-main img {
	display: inline;
	height: auto;
	max-width: 750px;
	width: 100%;
}

.page-campaign201508 .block-campaign-head {
	font-size: 16px;
	margin-bottom: 2em;
}

.page-campaign201508 .block-campaign-head p {
	margin-bottom: 2em;
}

.page-campaign201508 .block-campaign-award {
	margin-bottom: 1.5em;
}

.page-campaign201508 .photo {
	text-align: center;
}

.page-campaign201508 .photo img {
	display: inline;
	height: auto;
	max-width: 100%;
}

.page-campaign201508 .unit-campaign-notes {
	background-color: #f2f1ec;
	color: #666;
	font-size: 18px;
	margin-bottom: 1em;
	padding: 2em 2em 1em;
}

.page-campaign201508 .unit-campaign-notes .ttl-ticket span,
.page-campaign201508 .unit-campaign-notes .ttl-flat span {
	background-color: #ccc;
	border-radius: 50px;
	color: #fff;
	display: inline-block;
	height: 50px;
	line-height: 50px;
	position: relative;
	text-align: center;
	width: 300px;
}

.page-campaign201508 .unit-campaign-notes .ttl-ticket span:before,
.page-campaign201508 .unit-campaign-notes .ttl-flat span:before {
	display: inline-block;
	height: 40px;
	margin-right: 10px;
	position: relative;
	vertical-align: middle;
	width: 40px;
}

.page-campaign201508 .unit-campaign-notes .ttl-ticket span {
	background-color: #46bce0;
}

.page-campaign201508 .unit-campaign-notes .ttl-ticket span:before {
	content: url(../images/campaign/campaign201508/ico_campaign_01.png);
}

.page-campaign201508 .unit-campaign-notes .ttl-flat span {
	background-color: #f1516a;
}

.page-campaign201508 .unit-campaign-notes .ttl-flat span:before {
	content: url(../images/campaign/campaign201508/ico_campaign_02.png);
}

.page-campaign201508 .unit-campaign-notes .txt-notes {
	font-size: 14px;
}

.page-campaign201508 .unit-campaign-plan .h3title {
	font-weight: bold;
	margin: 2em 0 0.5em;
}

.page-campaign201508 .unit-campaign-plan .btn {
	font-size: 24px;
	padding: 0;
}

.page-campaign201508 .unit-campaign-plan .btn a {
	border-radius: 6px;
	color: #fff;
	display: block;
	height: 75px;
	line-height: 75px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 520px;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.page-campaign201508 .unit-campaign-plan .btn-01 a {
	background-color: #f1516a;
}

.page-campaign201508 .unit-campaign-plan .btn-01 a:hover,
.page-campaign201508 .unit-campaign-plan .btn-01 a:active {
	background-color: #d94960;
}

/*------------------------------------------------------------------
Doc Rapidtester
------------------------------------------------------------------*/
.page-doc-rapidtester .title-reset {
	border-bottom: none !important;
	padding: 12px 0 0 42px !important;
}

.page-doc-rapidtester h3 {
	font-weight: bold;
}

.page-doc-rapidtester .title-reset.icon-01 {
	background: url(../images/doc/rapidtester/ico_01.png) no-repeat 0 100%;
}

.page-doc-rapidtester .title-reset.icon-02 {
	background: url(../images/doc/rapidtester/ico_02.png) no-repeat 0 100%;
}

.page-doc-rapidtester .title-reset.icon-03 {
	background: url(../images/doc/rapidtester/ico_03.png) no-repeat 0 100%;
}

.page-doc-rapidtester .title-reset.icon-04 {
	background: url(../images/doc/rapidtester/ico_04.png) no-repeat 0 100%;
}

.page-doc-rapidtester .title-reset.icon-05 {
	background: url(../images/doc/rapidtester/ico_05.png) no-repeat 0 100%;
}

.page-doc-rapidtester .title-reset.icon-06 {
	background: url(../images/doc/rapidtester/ico_06.png) no-repeat 0 100%;
}

.page-doc-rapidtester .title-reset.icon-auto {
	background: url(../images/doc/rapidtester/ico_auto_01.png) no-repeat 0 100%;
}

.page-doc-rapidtester .title-reset.icon-run {
	background: url(../images/doc/rapidtester/ico_run_01.png) no-repeat 0 100%;
}

.page-doc-rapidtester .block-testflow .ttl-flow:first-child {
	margin-top: 0;
}

.page-doc-rapidtester .block-testflow .ttl-flow span {
	display: block;
	margin-bottom: 15px;
}

.page-doc-rapidtester .block-testflow .ttl-flow span {
	display: block;
	margin-bottom: 15px;
}

.page-doc-rapidtester .h3title {
	border-bottom: 1px solid #46bce0;
	margin: 3em 0 1.5em;
	padding-bottom: 10px;
}

.page-doc-rapidtester .h4title {
	font-weight: bold;
	margin: 3em 0 1.5em;
}

.page-doc-rapidtester .h3title + .h4title {
	margin: 0 0 1.5em;
}

.page-doc-rapidtester .h5title {
	font-weight: bold;
	margin: 2.5em 0 1em;
}

/*------------------------------------------------------------------
Spec Rapidtester
------------------------------------------------------------------*/

/*------------------------------------------------------------------
Newplan
------------------------------------------------------------------*/
.page-newplan .lead-newplan {
	font-size: 22px;
	letter-spacing: 2px;
	line-height: 1.2;
	margin: 0 0 1em;
	text-align: center;
}

.page-newplan .fig {
	text-align: center;
}

.page-newplan .fig img {
	display: inline;
}

.page-newplan .block-newplan-01 {
	background: url(../images/newplan/ico_arrow_01.png) no-repeat 50% 17%;
	margin: 0 auto;
	max-width: 760px;
}

.page-newplan .block-newplan-01 dl {
	margin-bottom: 0;
}

.page-newplan .block-newplan-01 dt {
	margin-bottom: 1.2em;
	text-align: center;
}

.page-newplan .block-newplan-01 dt img {
	display: inline;
	height: auto;
	max-width: 330px;
	width: 100%;
}

.page-newplan .block-newplan-01 .unit-01 {
	float: left;
	width: 45%;
}

.page-newplan .block-newplan-01 .unit-02 {
	float: right;
	width: 45%;
}

.page-newplan .btn {
	font-size: 24px;
	margin: 0 auto 1em;
	padding: 0;
	text-align: center;
}

.page-newplan .unit-btn {
	margin: 1em auto;
	text-align: center;
}

.page-newplan .btn a {
	border-radius: 6px;
	color: #fff;
	display: block;
	height: 75px;
	line-height: 75px;
	padding: 0;
	text-align: center;
	text-decoration: none;
	width: 520px;

	-webkit-transition: 0.3s;
	transition: 0.3s;
}

.page-newplan .btn-02 a {
	background-color: #46bce0;
}

.page-newplan .btn-02 a:hover,
.page-newplan .btn-02 a:active {
	background-color: #3faaca;
}

.page-newplan .block-newplan-02 .h3title {
	border-bottom: 1px solid #46bce0;
	margin-bottom: 1.5em;
	margin-top: 3em;
	padding-bottom: 5px;
}

.page-newplan .block-newplan-02 .h4title {
	font-size: 22px;
	letter-spacing: 2px;
	margin: 2em 0 1.5em;
}


/*------------------------------------------------------------------
下層ページ共通パーツ化
------------------------------------------------------------------*/
/* objects ----------------------------- */
.wrap.mod-flat {
	padding: 0 0 12px;
}

.wrap.mod-flat > .container {
	max-width: none;
	padding: 0;
	width: 100%;
}

.wrap-contents {
	color: #262626;
	font-family: 'Hiragino Kaku Gothic ProN','メイリオ',Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0 0 40px;
}
.wrap-contents > *:last-child {
	margin-bottom: 0;
}

.mod-flat .wrap-contents {
	margin: 0 auto;
	max-width: 1170px;
	padding: 36px 15px;
}

/* block-contents */
.block-contents {
	letter-spacing: -0.5em;
	margin: 0 0 24px;
}

.block-contents > * {
	display: inline-block;
	letter-spacing: normal;
	vertical-align: top;
}

.block-contents * {
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.block-contents *:last-child {
	margin-bottom: 0;
}

.block-contents.mod-col1 {
	letter-spacing: normal;
}
.block-contents.mod-col1 > * {
	display: block;
}

.block-contents.mod-col2 {
	margin-left: -4%;
	text-align: center;
}
.block-contents.mod-col2 > * {
	margin: 0 0 50px 4%;
	text-align: left;
	max-width: 46%;
	min-width: 46%;
}

.customers .block-contents.mod-col2 {
	margin-left: 0;
}
.customers .block-contents.mod-col2 > * {
	margin-left: 0;
	max-width: none;
	min-width: 0;
}

.block-contents.mod-col3 {
	margin-left: -3%;
	text-align: center;
}
.block-contents.mod-col3 > * {
	margin: 0 0 24px 3%;
	text-align: left;
	width: 30%;
}

.block-contents.mod-col4 {
	margin-left: -3%;
	text-align: center;
}
.block-contents.mod-col4 > * {
	margin: 0 0 24px 3%;
	text-align: left;
	width: 22%;
}
.block-contents.mod-col4 .mod-span2 {
	width: 47%;
}
.block-contents.mod-col4 .mod-span3 {
	width: 72%;
}

.block-contents.mod-col6 {
	margin-left: -2%;
	text-align: center;
}
.block-contents.mod-col6 > * {
	margin: 0 0 24px 2%;
	text-align: left;
	width: 14%;
}

.block-contents.mod-margin {
	margin-bottom: 50px;
	margin-top: 40px;
}

.block-contents.mod-table {
	margin-top: 55px;
}
.block-contents.mod-table table {
	display: table;
}

/* block-inner-contents */
.block-inner-contents {
	margin: 0 0 24px;
	position: relative;
}

.block-inner-contents *:last-child {
	margin-bottom: 0;
}
.block-inner-contents.mod-margin {
	margin-bottom: 50px;
	margin-top: 60px;
}
.block-inner-contents.mod-padding {
	padding: 8px;
}

/* unit-box */
.unit-box {
	position: relative;
}
.mod-col2 .unit-box:nth-last-child(-n+2),
.mod-col3 .unit-box:nth-last-child(-n+3),
.mod-col4 .unit-box:nth-last-child(-n+4),
.mod-col6 .unit-box:nth-last-child(-n+6),
.mod-col2 .unit-borderbox:nth-last-child(-n+2),
.mod-col3 .unit-borderbox:nth-last-child(-n+3),
.mod-col4 .unit-borderbox:nth-last-child(-n+4),
.mod-col6 .unit-borderbox:nth-last-child(-n+6) {
	margin-bottom: 0;
}
.unit-box > *:last-child {
	margin-bottom: 0;
}
.unit-box.mod-round {
	background: #fff;
	border-radius: 5px;
	padding: 12px;
}
.unit-box figure.mod-movie {
	margin: 0 0 16px !important;
	text-align: center;
	width: 100%;
}
.unit-box .item-youtube {
	width: 100%;
}
.unit-box .item-youtube iframe {
	height: auto;
	width: 100%;
}

/* unit-borderbox */
.unit-borderbox {
	background: #fff;
	border: 1px #bcbcbc solid;
	padding: 0 28px 28px 28px;
	position: relative;
}
.unit-borderbox.mod-round {
	background: #fff;
	border: 2px #4f9cad solid;
	border-radius: 5px;
	padding: 12px;
}
.unit-borderbox.mod-round.mod-popular {
	border-color: #fe1d60;
}
.unit-borderbox > figure,
.unit-borderbox .item-youtube {
	height: 160px;
	margin: 0 -28px;
	overflow: hidden;
	position: relative;
}
.unit-borderbox > figure img {
	bottom: -100%;
	left: -100%;
	margin: auto !important;
	max-width: 100%;
	position: absolute;
	right: -100%;
	top: -100%;
}
.unit-borderbox .item-youtube iframe {
	height: 100%;
	width: 100%;
}

.unit-box.mod-banner {
	vertical-align: top;
}
.unit-box.mod-banner figure {
	background: #fff;
	border: 1px #ccc solid;
	height: 100px;
	line-height: 100px;
	padding: 0;
	position: relative;
	text-align: center;
}
.unit-box.mod-banner figure img {
	bottom: -100%;
	left: -100%;
	margin: auto;
	max-width: 100%;
	position: absolute;
	right: -100%;
	top: -100%;
}
.unit-box.mod-banner figure + .txt-note {
	margin-top: 8px;
}


.unit-borderbox h4 {
	font-size: 24px;
}

.unit-borderbox hr {
	border-color: #bbbfc0;
	border-width: 1px;
	height: 1px;
	margin: 0 0 12px;
}

/* unit-hr */
.unit-hr {
	border-bottom: 1px #bbbfc0 solid;
	height: 1px;
	margin: 0 0 32px;
	position: relative;
}
.unit-hr:before {
	background: rgba(0,0,0,0.1);
	bottom: -5px;
	content: ' ';
	display: block;
	height: 4px;
	left: 0;
	position: absolute;
	width: 100%;
	z-index: 10;
}
.unit-borderbox .unit-hr {
	margin-left: -28px;
	margin-right: -28px;
}
.unit-box.mod-round .unit-hr,
.unit-borderbox.mod-round .unit-hr {
	margin-left: -12px;
	margin-right: -12px;
}

/* item-description */
.item-description {
	margin: 0 0 18px;
	position: relative;
}

/*
.item-description:before {
	background: #d2d2d2;
	content: ' ';
	display: block;
	height: 100%;
	left: 91px;
	position: absolute;
	top: 0;
	width: 1px;
}
*/

.item-description figure {
	position: relative;
	/*
	width: 84px;
	height: 84px;
	overflow: hidden;
	margin: 0 auto;
	left: 0;
	position: absolute;
	top: 0;
	*/
	margin: 20px auto;
	text-align: center;
}

.item-description figure img {
	/*
	bottom: -100%;
	left: -100%;
	margin: auto !important;
	max-width: 100%;
	position: absolute;
	right: -100%;
	top: -100%;
	*/
	max-width: 100%;
}

/*
.item-description h5,
.item-description p {
	padding: 0 0 0 105px;
}
*/

.item-description h5 {
	font-size: 14px;
}
.item-description p {
	font-size: 12px;
}

/* item-btn */
.item-btn a {
	color: #fff;
	font-size: 16px;
	line-height: 1.2;
	text-align: center;
	text-decoration: none;

	-webkit-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}
.item-btn a,
.item-btn a:hover {
	background: #0580b9;
	background: -moz-linear-gradient(top, #0580b9 0%, #03669d 100%);
	background: -webkit-linear-gradient(top, #0580b9 0%,#03669d 100%);
	background: linear-gradient(to bottom, #0580b9 0%,#03669d 100%);
	border: 1px #0580b9 solid;
	border-radius: 3px;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0580b9', endColorstr='#03669d',GradientType=0 );
	padding: 20px 26px 18px 18px;
	position: relative;
}
.mod-col1 .item-btn a {
	margin-left: auto;
	margin-right: auto;
	max-width: 487px;
}
.item-btn.mod-request a,
.item-btn.mod-request a:hover {
	background: #00cc2d;
	background: -moz-linear-gradient(top, #00cc2d 0%, #009d2b 100%);
	background: -webkit-linear-gradient(top, #00cc2d 0%,#009d2b 100%);
	background: linear-gradient(to bottom, #00cc2d 0%,#009d2b 100%);
	border: 1px #00cc2d solid;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00CC2D', endColorstr='#009D2B',GradientType=0 );
}
.item-btn.mod-login a,
.item-btn.mod-login a:hover {
	background: #fff;
	background: -moz-linear-gradient(top, #fff 0%, #f9f9f9 100%);
	background: -webkit-linear-gradient(top, #fff 0%,#f9f9f9 100%);
	background: linear-gradient(to bottom, #fff 0%,#f9f9f9 100%);
	border: 1px #777 solid;
	color: #999;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#F9F9F9',GradientType=0 );
}
.item-btn.mod-login a i {
	background: url('../../shared/images/renew/iconLogin.png') no-repeat 50% 48%;
	background-size: contain;
	display: inline-block;
	height: 24px;
	vertical-align: text-bottom;
	width: 24px;
	margin-right: 10px;
}
.item-btn.mod-movie a {
	display: table;
	width: 100%;
}
.item-btn.mod-movie a span {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}
.item-btn.mod-movie a,
.item-btn.mod-movie a:hover {
	background: #fff;
	background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
	background: -webkit-linear-gradient(top, #fff 0%,#dcdcdc 100%);
	background: linear-gradient(to bottom, #fff 0%,#dcdcdc 100%);
	border: 1px #c9c9c9 solid;
	color: #333;
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFF', endColorstr='#DCDCDC',GradientType=0 );
}

.item-btn.mod-middle a {
	padding: 14px 26px 12px 12px;
}
.item-btn a span {
	display: inline-block;
}
.item-btn a:before {
	content: '\f061';
	display: block;
	font-family: FontAwesome;
	font-size: 16px;
	margin: -10px 0 0;
	position: absolute;
	right: 10px;
	top: 50%;
}
.item-btn.mod-movie a:before {
	color: #a3a3a3;
	content: '\f03d';
}
.item-btn a:hover {
	opacity: 0.75;
}
.item-btn.mod-innerIcon a {
	padding: 20px 18px 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.item-btn.mod-innerIcon a:before {
	display: none;
}
.item-btn.mod-innerIcon .fa {
	display: inline-block;
	font-size: 24px;
	margin: 0 8px 0 0;
	vertical-align: text-bottom;
}

/* unit-list-default */
.unit-list {
	font-size: 14px;
	line-height: 1.4;
	margin: 0 0 32px;
}
.unit-list li {
	margin: 0 0 8px;
}

/* unit-list-disc */
.unit-list-disc,
.unit-list-aster,
.unit-list-check {
	list-style-position: inside;
	list-style-type: none;
}

.unit-list-disc li,
.unit-list-aster li {
	padding: 0 0 0 18px;
	position: relative;
	vertical-align: top;
}

.unit-list-disc li:before,
.unit-list-aster li:before {
	display: block;
	font-family: FontAwesome;
	font-size: 12px;
	left: 0;
	margin: 0.1em 0 0;
	position: absolute;
	top: 0;
}

.unit-list-disc li {
	margin: 0 0 14px 3% !important;
}
.unit-list-disc li:before {
	content: '\f111';
}

.unit-list-aster li {
	margin: 0 0 14px !important;
}
.unit-list-aster li:before {
	content: '\f069';
}

/* unit-list-check */
.unit-list-check {
	letter-spacing: -0.4em;
	padding: 0;
}

.unit-list-check.mod-center {
	text-align: center;
}

.unit-list-check li {
	display: block;
	font-size: 18px;
	letter-spacing: normal;
	margin: 0 0 8px;
	padding: 0 0 0 35px;
	position: relative;
}

.unit-list-check li:last-child {
	margin: 0;
}

.unit-list-check.mod-center li {
	display: inline-block;
	margin: 5px 60px;
}

.unit-list-check li:before {
	background: url(../images/common/ico_check_01.png) no-repeat 0 0;
	background-size: cover;
	content: ' ';
	display: block;
	height: 27px;
	left: 0;
	position: absolute;
	top: 0;
	width: 27px;
}

/* unit-table-spec */
.unit-table-spec {
	background: #fff;
	border: 2px #4f9cad solid;
	border-radius: 5px;
	font-size: 14px;
	line-height: 1.4;
	margin: 0 auto;
	table-layout: fixed;
	width: 664px;

	border-collapse: separate;
}
.unit-table-spec thead th,
.unit-table-spec thead td {
	padding: 28px 28px 8px;
}
.unit-table-spec thead th,
.unit-table-spec thead td,
.unit-table-spec tbody th {
	font-weight: bold;
}
.unit-table-spec thead td,
.unit-table-spec tbody td {
	border-left: 1px #bebebe solid;
	text-align: center;
}
.unit-table-spec tbody th,
.unit-table-spec tbody td {
	border-top: 1px #bebebe solid;
	padding: 18px 28px 8px;
}
.unit-table-spec thead td span,
.unit-table-spec tbody th span {
	display: inline-block;
}
.unit-table-spec .item-index {
	width: 330px;
}
.unit-table-spec .fa.fa-check {
	color: #fe1d60;
	font-size: 24px;
}
.unit-table-spec .fa.fa-times {
	font-size: 28px;
}

/* unit-list-relatedLink */
.unit-list-relatedLink,
.unit-list-innerLink {
	list-style-type: none;
	padding: 0;
}
.unit-list-relatedLink li,
.unit-list-innerLink li {
	letter-spacing: normal;
	line-height: 1;
}
.unit-list-relatedLink li a,
.unit-list-innerLink li a {
	color: #2ea7e0;
	display: inline-block;
	line-height: 1.4;
}

.unit-list-relatedLink {
	margin: 0 0 20px -16px;
}
.unit-list-relatedLink li {
	font-size: 14px;
	margin: 0 0 8px 16px;
	width: 100%;
}
.unit-list-relatedLink li a {
	padding: 0 0 0 18px;
	position: relative;
}
.unit-list-relatedLink li a:before {
	content: '\f138';
	display: block;
	font-family: FontAwesome;
	font-size: inherit;
	left: 0;
	margin: 0;
	position: absolute;
	top: 0;
}
.unit-list-relatedLink .children {
	list-style-type: none;
	margin: 6px 0 0;
}

/* unit-list-innerLink */
.unit-list-innerLink,
.unit-list-innerLink li {
	transition: all 0.3s ease-in-out;
}
.unit-list-innerLink {
	letter-spacing: -0.4em;
	margin: 0 0 20px -3.5%;
	text-align: center;
}
.unit-list-innerLink li {
	display: inline-block;
	font-size: 14px;
	margin: 0 0 6px 3.5%;
}
.unit-list-innerLink li a:before {
	content: '\f078';
	display: inline-block;
	font-family: FontAwesome;
	margin: 0 8px 0 0;
	position: static;
}

/* unit-youtube */
.unit-youtube {
	height: 480px;
	margin: 0 auto;
	width: 854px;
}
.unit-youtube iframe {
	height: 100%;
	width: 100%;
}

/* components -------------------------- */
/* title */
.ttl-A {
	font-size: 36px;
	margin: 0 0 28px;
	text-align: center;
}
.ttl-A.mod-left {
	text-align: left;
}

.ttl-B {
	font-size: 25px;
	font-weight: bold;
	line-height: 1.5;
	margin: 0;
	padding: 8px 16px;
	text-align: center;
}
.ttl-B.mod-left {
	text-align: left;
}

.ttl-C {
	font-size: 24px;
	line-height: 1.4;
}

.ttl-D {
	font-size: 16px;
	line-height: 1.2;
	margin: 0 0 16px;
}

.ttl-E {
	border-top: 2px #2ea7e0 solid;
	font-size: 25px;
	font-weight: normal;
	margin: 0 0 32px;
	padding: 12px 4px 0;
}

/* text */
.txt-A {
	font-size: 16px;
	margin: 0 0 16px;
	text-align: center;
}
.txt-A.mod-left {
	text-align: left;
}
.txt-A span {
	display: inline-block;
}
.txt-A .fa-asterisk {
	font-size: 12px;
	vertical-align: middle;
}

.txt-B {
	font-size: 14px;
	line-height: 1.4;
	margin: 0 0 16px;
	text-align: center;
}
.txt-B.mod-left {
	text-align: left;
}

.txt-C {
	font-size: 32px;
	line-height: 1.4;
	margin: 0 0 24px;
	text-align: center;
}
.txt-C.mod-left {
	text-align: left;
}

.txt-D {
	font-size: 18px;
	margin: 0 0 16px;
	text-align: center;
}
.txt-D.mod-left {
	text-align: left;
}

.txt-note {
	font-size: 10px;
	margin: 0;
	text-align: center;
}
.txt-note em {
	color: #e64e5c;
	font-style: normal;
}

.txt-price {
	font-size: 18px;
	line-height: 1.2;
	margin: 18px 8px 12px;
	text-align: center;
}
.txt-note + .txt-price {
	margin-top: 0;
}
.txt-price span {
	font-size: 20px;
	font-weight: bold;
}
.txt-price em {
	color: #e64e5c;
	font-style: normal;
}
.txt-price .mod-sup {
	font-size: 16px;
	font-weight: normal;
}

.txt-label {
	color: #fff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	margin: 0 auto 8px;
	position: relative;
	text-align: center;
	width: 90%;
	z-index: 1;
}
.txt-label:after {
	content: attr(data-label);
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	text-align: center;
	top: 2px;
	width: 100%;
}
.txt-label:before {
	border-left: 10px transparent solid;
	border-right: 10px transparent solid;
	border-top: 34px #fe1d60 solid;
	content: ' ';
	display: block;
	left: 50%;
	margin: 0 0 0 -50%;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 0;
}
.unit-hr + .txt-label {
	margin-top: -32px;
}

.txt-exp {
	font-size: 14px;
	line-height: 1.8;
	text-align: center;
}

.txt-exp-icon {
	font-size: 16px;
	line-height: 1;
	margin: 0 0 16px;
	text-align: center;
}
.txt-label + .txt-exp-icon {
	margin-top: 0;
}
.unit-hr + .txt-exp-icon {
	margin-top: -12px;
}
.txt-exp-icon em {
	font-size: 24px;
	font-style: normal;
	font-weight: bold;
}
.txt-exp-icon .fa {
	color: #0086bd;
	line-height: 1;
	margin: 0 0 8px;
}
.txt-exp-icon .fa.fa-mobile {
	font-size: 70px;
}
.txt-exp-icon .fa.fa-clock-o {
	font-size: 52px;
}

.txt-bold {
	font-weight: bold !important;
}

/* trumps ------------------------------ */
/* background color */
.bg-gray {
	background: #ececec !important;
}
.bg-lightGray {
	background: #f5f5f0 !important;
}


/* background image */
.bg-image {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	background-size: cover;
	background-size: 100% auto\9;
	position: relative;
}
.bg-image.mod-black:before {
	background: rgba(0,0,0,0.6);
	content: ' ';
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	z-index: 0;
}
.bg-image.mod-enterprise {
	background-image: url(../images/customers/bg_container_01.jpg);
}
.bg-image .wrap-contents {
	position: relative;
	z-index: 1;
}

/* font color */
.color-white {
	color: #fff;
}
.color-blue {
	color: #0086bd;
}
.color-red {
	color: #fe1d60;
}

/* label */
.mod-new:before {
	background: url(../images/common/bg_label_01.png) no-repeat 0 0;
	color: #fff;
	content: 'NEW';
	display: block;
	font-size: 14px;
	height: 35px;
	left: -8px;
	line-height: 1;
	padding: 6px 15px 0 0;
	position: absolute;
	text-align: center;
	top: -8px;
	width: 116px;
}

.mod-popular:before {
	background: url(../images/common/bg_label_01.png) no-repeat 0 0;
	color: #fff;
	content: '一番人気';
	display: block;
	font-size: 14px;
	height: 35px;
	left: -8px;
	line-height: 1;
	padding: 6px 15px 0 0;
	position: absolute;
	text-align: center;
	top: -8px;
	width: 116px;
}

/* jsFlat */
.jsFlat {
	opacity: 0;

	transition: all 0.3s ease-in-out;
}


/*------------------------------------------------------------------
media query
------------------------------------------------------------------*/
@media screen and (min-width:480px) {
	.home .top-slider {
		padding: 15px 0 20px;
	}
}

@media screen and (min-width:768px) {
	.home .cover-contents1 {
		padding-top: 80px;
	}

	.home .cover-contents1 .title {
		line-height: 1.3;
		margin-bottom: 15px;
	}

	.home .top-slider {
		padding-top: 15px;
	}

	.home .top-slider .slick-dots {
		bottom: -40px;
		top: inherit;
	}

	.home .top-slider .slick-slide img {
		height: auto;
		width: 488px;
	}
}

@media (min-width:992px) {
	.page-campaign201508 .block-campaign-head .photo {
		text-align: right;
	}

	.page-campaign201508 .block-campaign-award .photo {
		text-align: right;
	}

	.page-campaign201508 .block-campaign-award .col-md-10 {
		padding-right: 10%;
	}
	
	.block-contents > .col-md-4:nth-child(3n + 1) {
		clear: both;
	}
}

@media print,screen and (max-width:992px) {
	.price .unit-list-plan li .wrap-cell {
		width: 700px;
	}

	/*------------------------------------------------------------------
	下層ページ共通パーツ化
	------------------------------------------------------------------*/
	/* objects ----------------------------- */
	.block-contents {
		margin: 0 0 18px;
	}

	/* block-contents */
	.block-contents.mod-col2 {
		margin-left: -2%;
	}
	.block-contents.mod-col2 > * {
		margin: 0 0 30px 2%;
		width: 48%;
	}
	.block-contents.mod-col6 {
		margin-left: -3%;
	}
	.block-contents.mod-col6 > * {
		margin: 0 0 24px 3%;
		width: 30%;
	}
	.block-contents > .col-sm-6:nth-child(2n + 1) {
		clear: both;
	}

	.mod-col6 .unit-box:nth-last-child(-n+6),
	.mod-col6 .unit-borderbox:nth-last-child(-n+6) {
		margin-bottom: 18px;
	}

	/* unit-borderbox */
	.unit-borderbox > figure,
	.unit-borderbox .item-youtube {
		height: 220px;
		margin-bottom: 24px;
	}
	.unit-borderbox.mod-round {
		padding: 8px;
	}
	.unit-borderbox.mod-banner {
		margin-bottom: 30px !important;
	}

	/* unit-list-check */
	.unit-list-check.mod-center li {
		display: block;
		margin: 0 0 8px;
		text-align: left;
	}
	.unit-list-check.mod-center li:last-child {
		margin-bottom: 0;
	}

	/* item-description */
	.item-description:before {
		display: none;
	}
	/*
	.item-description figure {
		height: 150px;
		margin: 0 0 24px;
		position: relative;
		width: 100%;
	}
	.item-description h5,
	.item-description p {
		padding: 0;
	}
	*/

	/* unit-list-innerLink */
	.unit-list-innerLink {
		margin: 0 0 20px -2%;
		text-align: center;
	}
	.unit-list-innerLink li {
		font-size: 14px;
		margin: 0 0 6px 2%;
	}

	/* components -------------------------- */
	/* title */
	.ttl-B {
		font-size: 20px !important;
		padding: 8px;
	}

	/* text */
	.txt-price {
		font-size: 17px;
	}
	.txt-price span {
		font-size: 17px;
	}
	.txt-price .mod-sup {
		font-size: 14px;
	}

	.txt-label {
		font-size: 16px;
		height: 28px;
	}
	.txt-label:before {
		border-top: 28px #fe1d60 solid;
	}
	.txt-label:after {
		top: -2px;
	}

	.txt-exp {
		font-size: 11px;
	}

	.txt-exp-icon .fa.fa-mobile {
		font-size: 48px;
	}
}


@media screen and (max-width: 900px) {
	.unit-youtube {
		height: 400px;
		width: 100%;
	}
}


@media screen and (max-width:768px) {
	.home .slideFrame {
		height: 50px;
	}

	.home .slideCell {
		height: 50px;
		width: 150px;
	}

	.home .slideCell img {
		height: auto;
		width: 100%;
	}

	.home .block-home-points.st80 {
		padding-top: 40px;
	}

	.page-newplan .block-newplan-01 {
		background-size: 22px auto;
	}

	/*------------------------------------------------------------------
	下層ページ共通パーツ化
	------------------------------------------------------------------*/
	/* objects ----------------------------- */
	.mod-flat .wrap-contents {
		padding: 16px 10px;
	}

	/* .main-faq-wrapper */
	.main-faq-wrapper{
		margin: 0 2% 40px 4%;
	}

	/* block-contents */
	.block-contents.mod-col3 > * {
		margin: 0 0 16px 3%;
	}
	.block-contents.mod-col4 {
		margin-left: -2%;
	}
	.block-contents.mod-col4 > * {
		margin: 0 0 18px 2%;
		width: 48%;
	}
	.block-contents.mod-col4 > .mod-768-span2 {
		width: 98%;
	}
	.block-contents.mod-col4 .mod-span3 {
		margin-bottom: 32px;
		width: 98%;
	}
	.block-contents.mod-col4 .mod-span3 + * {
		width: 98%;
	}
	.block-contents.mod-col4 .mod-span2 {
		margin-bottom: 32px;
		width: 96%;
	}
	.block-contents.mod-table {
		margin-top: 0;
	}

	.block-contents.mod-col1-sp {
		letter-spacing: normal;
	}
	.block-contents.mod-col1-sp > * {
		display: block;
		max-width: 100%;
		min-width: 100%;
		margin: 0 0 30px 0;
	}
	/* block-inner-contents */
	.block-inner-contents.mod-margin {
		margin-top: 32px;
	}

	.mod-col2 .unit-box:nth-last-child(-n+2),
	.mod-col2 .unit-borderbox:nth-last-child(-n+2),
	.mod-col4 .unit-box:nth-last-child(-n+4),
	.mod-col4 .unit-borderbox:nth-last-child(-n+4) {
		margin-bottom: 18px;
	}
	.block-contents.mod-col1-sp .unit-box {
		margin-bottom: 0;
	}
	.block-contents.mod-col1-sp .mod-col1-sp-inner-mg {
		margin-bottom: 18px;
	}
	.mod-col1-sp-inner .mod-padding {
		padding: 8px 8px 0;
	}
	/* unit-box */
	.unit-box.mod-col1-sp-inner:first-child {
		background: #fff;
		border-radius: 5px 5px 0 0;
		padding: 12px 12px 0;
	}
	.unit-box.mod-col1-sp-inner:last-child {
		padding: 0 12px 16px;
		border-radius: 0 0 5px 5px;
	}
	/* unit-borderbox */
	.unit-borderbox > figure,
	.unit-borderbox .item-youtube {
		height: 180px;
	}
	.unit-borderbox.mod-banner {
		height: 80px;
		line-height: 80px;
	}

	/* unit-table-spec */
	.unit-table-spec {
		font-size: 12px;
		width: 100%;
	}
	.unit-table-spec thead th,
	.unit-table-spec thead td {
		padding: 10px 10px 8px;
	}
	.unit-table-spec tbody th,
	.unit-table-spec tbody td {
		border-top: 1px #bebebe solid;
		padding: 10px 10px 8px;
	}
	.unit-table-spec .item-index {
		width: 240px;
	}

	/* unit-hr */
	.unit-box.mod-round .unit-hr,
	.unit-borderbox.mod-round .unit-hr {
		margin-left: -8px;
		margin-right: -8px;
	}
	/* item-description */
	/*
	.item-description figure {
		height: 120px;
	}
	*/

	/* unit-list-innerLink */
	.unit-list-innerLink {
		text-align: left;
	}

	.mod-col2 .item-btn.mod-innerIcon a {
		font-size: 12px;
		padding: 16px 6px 14px;
	}
	.mod-col2 .item-btn.mod-innerIcon a .fa {
		display: block;
		font-size: 20px;
		margin: 0 auto 4px;
	}
	.item-btn.mod-login a i {
		display: block;
		height: 20px;
		width: 20px;
	}


	/* components -------------------------- */
	/* title */
	.ttl-B {
		font-size: 24px !important;
		margin: 0 !important;
		padding: 8px;
	}

	.ttl-C {
		font-size: 18px;
	}

	/* text */
	.txt-C {
		font-size: 20px;
	}

	.txt-exp {
		font-size: 14px;
	}

	.txt-label {
	}
}

@media screen and (max-width:640px) {
	/*------------------------------------------------------------------
	下層ページ共通パーツ化
	------------------------------------------------------------------*/
	/* objects ----------------------------- */
	/* .main-faq-wrapper */
	.main-faq-wrapper{
		margin: 0 0 40px 0;
	}
	
	/* block-contents */
	.block-contents {
		margin: 0 0 16px;
	}

	.block-contents.mod-col2 > * {
		margin: 0 0 16px 2%;
	}
	.block-contents.mod-col2-sp-btn{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.block-contents.mod-col3 {
		margin-left: 0;
	}
	.block-contents.mod-col3 > * {
		margin: 0 0 12px;
		width: 100%;
	}
	.block-contents.mod-margin {
		margin-bottom: 30px;
		margin-top: 20px;
	}

	/* unit-borderbox */
	.unit-borderbox {
		padding: 0 10px 10px 10px;
	}
	.unit-borderbox > figure,
	.unit-borderbox .item-youtube {
		height: 140px;
		margin: 0 -10px;
	}
	.unit-borderbox h4 {
		font-size: 18px;
		margin: 16px 0;
	}

	/* unit-list-disc */
	.unit-list-disc {
		padding: 0;
		text-align: left !important;
	}
	.unit-list-disc li {
		vertical-align: top;
	}
	.unit-list-aster {
		padding: 0;
	}

	/* unit-youtube */
	.unit-youtube {
		height: 360px;
	}

	/* item-description */
	.item-description figure {
		height: 90px;
	}

	/* item-btn */
	.item-btn a {
		font-size: 14px;
		padding: 16px 26px 14px 18px;
	}
	.item-btn a:hover {
		opacity: 1;
	}
	.item-btn.mod-login a i {
		display: inline-block;
		height: 20px;
		width: 20px;
	}



	/* unit-table-spec */
	.unit-table-spec .item-index {
		width: 150px;
	}

	/* unit-list-innerLink */
	.unit-list-innerLink {
		margin-bottom: 12px;
	}

	/* components -------------------------- */
	/* title */
	.ttl-A {
		font-size: 24px;
	}
	.ttl-A span {
		display: inline-block;
	}

	.ttl-E {
		font-size: 20px;
		margin: 0 0 24px;
		padding: 8px 0 0;
	}

	/* text */
	.txt-A {
		text-align: left;
	}
	.txt-D {
		font-size: 14px;
	}
}

@media screen and (max-width:480px) {
	/*------------------------------------------------------------------
	下層ページ共通パーツ化
	------------------------------------------------------------------*/
	/* objects ----------------------------- */
	.block-contents.mod-col2,
	.block-contents.mod-col4 {
		margin-left: 0;
	}
	.block-contents.mod-col2 > *,
	.block-contents.mod-col4 > * {
		margin: 0 0 16px;
		width: 100%;
	}
	.block-contents.mod-col4 > .mod-768-span2,
	.block-contents.mod-col4 .mod-span2,
	.block-contents.mod-col4 .mod-span3 {
		width: 100%;
	}
	.block-contents.mod-col6 > * {
		margin: 0 0 12px 3%;
	}

	.unit-borderbox > figure,
	.unit-borderbox .item-youtube {
		height: 200px;
	}

	/* unit-list-relatedLink */
	.unit-list-relatedLink {
		height: auto !important;
	}

	.unit-list-relatedLink li,
	.unit-list-innerLink li {
		display: block;
	}

	/* unit-youtube */
	.unit-youtube {
		height: 280px;
	}

	/* item-btn */
	.mod-col2 .item-btn.mod-innerIcon a {
		font-size: 13px;
	}
	.mod-col2 .item-btn.mod-innerIcon a.btn-success {
		font-size: 9px;
	}
	.mod-col2 .item-btn.mod-innerIcon a .fa {
		display: inline-block;
		margin: 0 4px 0 0;
	}


	/* components -------------------------- */
	/* text */
	.txt-price {
		margin: 0 8px 12px;
	}

	/* label */
	.mod-new:before,
	.mod-popular:before {
		background-size: contain;
		font-size: 12px;
		height: 35px;
		left: -6px;
		padding: 4px 10px 0 0;
		top: -4px;
		width: 95px;
	}
}

@media screen and (max-width:320px) {
	.mod-col2 .item-btn.mod-innerIcon a.btn-primary {
		font-size: 11px;
	}
}