@charset "UTF-8";

@media print {
    html,body{
        position: unset;
    }
	a[href^='#']:after,
	a[href^='javascript:']:after {
		content: '';
	}
	pre,
	blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,
	img {
		page-break-inside: avoid;
	}
	img {
		max-width: 100% !important;
	}
	p,
	h2,
	h3 {
		orphans: 3;
		widows: 3;
	}
	h2,
	h3 {
		page-break-after: avoid;
	}
	.navbar {
		display: none;
	}
	.btn > .caret,
	.dropup > .btn > .caret {
		border-top-color: #000 !important;
	}
	.label {
		border: 1px solid #000;
	}
	.table {
		border-collapse: collapse !important;
	}
	.table td,
	.table th {
		background-color: #fff !important;
	}
	.table-bordered th,
	.table-bordered td {
		border: 1px solid #ddd !important;
	}
	.visible-print {
		display: block !important;
	}
	table.visible-print {
		display: table !important;
	}
	tr.visible-print {
		display: table-row !important;
	}
	th.visible-print,
	td.visible-print {
		display: table-cell !important;
	}
	.visible-print-block {
		display: block !important;
	}
	.visible-print-inline {
		display: inline !important;
	}
	.visible-print-inline-block {
		display: inline-block !important;
	}
	.hidden-print {
		display: none !important;
	}
    }
    /* top page */
    #header .nav-aside-lead{
        max-width: 220px !important;
   }
   .hidden-print {
       display: none !important;
   }
   .list-unstyled{
	   width: 120px !important;
	}
   .navbar-default.navbar-fixed-top{
       position: absolute !important;
   }
   .site-main.main_scrn2018 .main-container #main-content .container .main_movie{
       width: 605px !important;
       height: 385px !important;
   }
   .site-main.main_scrn2018 .main-container #main-content .container .main_movie video{
       width: 412px !important;
       height: 270px !important;
   }

