@charset "UTF-8";
table.tablesorter .header {
	background-image: url(../../images/bg.png);
	background-repeat: no-repeat;
}

table.tablesorter .headerSortUp {
	background-image: url(../../images/asc.png);
	background-repeat: no-repeat;
}

table.tablesorter .headerSortDown {
	background-image: url(../../images/desc.png);
	background-repeat: no-repeat;
}
